$color: rgba(0, 0, 0, .85) !default;
$color-gray: rgba(0, 0, 0, .45) !default;
$color-disabled: rgba(0, 0, 0, .25) !default;
$color-primary: #1890ff !default;
$color-primary-hover-focus: #40a9ff !default;
$color-primary-active: #096dd9 !default;
$color-success: #52c41a !default;
$color-success-hover-focus: #73d13d !default;
$color-success-active: #389e0d !default;
$color-warning: #faad14 !default;
$color-warning-hover-focus: #ffc53d !default;
$color-warning-active: #d48806 !default;
$color-danger: #f5222d !default;
$color-danger-hover-focus: #ff4d4f !default;
$color-danger-active: #cf1322 !default;

$color-bgc-dark: #001529;
$color-bgc-light: #f0f2f5;

$border-color: #d9d9d9 !default;
$border-color-disabled: #d9d9d9 !default;
$border-radius: 4px !default;

$bgc-disabled: #f5f5f5 !default;

$font-size: 14px;

$input-padding-affix: 30px;
$input-icon-gap: 12px;

%flex-center-vertical {
  display: flex;
  align-items: center;
}
